/* Common css */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: auto;
}
.panda-btn {
  border-radius: 6px;
  background: linear-gradient(
    180deg,
    rgb(255, 88, 155) -0.006%,
    rgb(255, 19, 111) 99.994%
  );
  padding: 15px 35px;
  border: none;
  color: white;
  font-weight: 500;
}
.common-section-title {
  font-weight: 600;
  font-size: 36px;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.product-li {
  position: relative;
}
.dropdown-nav-items {
  position: absolute;
  top: 30%;
  left: -50px;
  padding: 5px 0;
  list-style: none;
  background-color: white;
  text-align: center;
  width: 150px;
  border-radius: 0 0 15px 15px;
  box-shadow: 2px 0px 8px 0px rgb(0 0 0 / 15%);
  visibility: hidden;
}
.dropdown-nav-items li {
  margin: 5px 0;
}
.product-li:hover .dropdown-nav-items {
  visibility: visible;
  top: 100%;
  transition: 0.5s;
}

.search-parent {
  position: relative;
  color: #bababa;
}

.search-parent input {
  border-radius: 66px;
  padding: 15px 30px;
  width: 500px;
  background-color: rgb(241, 241, 241);
  border: none;
}
.search-parent i {
  /* font-size: 50px; */
  position: absolute;
  top: 17px;
  right: 20px;
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 10px;
}
.nav-items li a {
  text-decoration: none;
  color: #707070;
  font-weight: 600;
  font-size: 16px;
}

/* Banner  */
.banner {
  background: rgb(254, 234, 233);
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  padding: 28px;
  border-radius: 10px;
  margin-top: 25px;
}
.banner h2 {
  color: rgb(31, 31, 31);
  font-size: 52px;
  font-weight: bold;
}
.banner p {
  color: #4e4e4e;
  max-width: 500px;
}
.banner img {
  width: 402px;
  height: 378px;
}
.banner-price {
  color: #ff136f;
  font-weight: bold;
  font-size: 52px;
  margin-bottom: 35px;
  display: block;
  margin-bottom: 0;
}

/* contact */
.contact-us-parent {
  background-color: #fff2f1;
  text-align: center;
  padding: 35px 20px;
  margin: 35px auto;
  border-radius: 15px;
}

.contact-inp-btn-parent {
  display: flex;
  justify-content: center;
}
.contact-inp-btn-parent input {
  border: none;
  padding: 15px 152px;
}
.contact-inp-btn-parent .panda-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
